.aboutCollapse {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 38px;
  max-width: 1240px;
  width: 86%;
  gap: 33px;
}

@media screen and (max-width: 800px) {
  .aboutCollpse {
    width: 86%;
    margin: 0 auto 0 auto;
    padding: 19px 0;
    gap: 20px;
  }
}
